*{background-color: #F0F8FF;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color:#a0522d;
    font-size: 40px;
    margin-top: 0;
}

h2{
    color:#002D62;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    color: #a0522d;
}

.dogs{
        margin: 0 auto;
        height: 30%;
        width: 30%;
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
     }

.container{
    justify-self: center;
    margin: 0 auto;
}

p{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Times New Roman', Times, serif;
}
